# 01_intro

### 단축키

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 + 아래로 이동
- alt + enter : 현재 셀 실행 + 아래 새로운 셀 추가
- 방향키 : 셀 이동
- esc : 현재 셀 비활성화
- enter : 현재 셀 활성화

- Kernel + Restart Kernal and Clear Outputs of All Sells : 코드 실행 순서 초기화

### 참고문건 
https://docs.python.org/ko/3/tutorial/index.html

## 1. 변수

변수이름 `=` 값
- 변수이름은 어떤 이름이든 상관없으나
- 영어, 숫자, '_' 를 이용하여 선언
- 키워드는 사용불가

In [1]:
a = 10

In [2]:
a

10

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number
- int : 정수
- float : 소수
- complex : 허수
    - 변수.imag : 허수부분
    - 변수.real : 실수부분

In [5]:
a = 1000

In [6]:
a

1000

In [8]:
type(a) # type() : 변수타입을 출력

int

In [9]:
b = 1.1

In [10]:
b

1.1

In [11]:
type (b)

float

In [12]:
c = 1 - 4j

In [13]:
c

(1-4j)

In [14]:
type (c)

complex

In [17]:
c.imag

-4.0

In [18]:
c.real

1.0

### 1.2 Boolean

`True(1)`, `False(0)`로 이루어진 타입

In [121]:
a = True
type(a)

bool

### 1.3 None
데이터가 없음을 의미

In [122]:
a = None
type(a)

NoneType

### 1.4 String
- 문자열은 `'`, `"`를 이용하여 표현

In [123]:
a = 'hello'
type(a)

str

In [124]:
b = "hello"
type(b)

str

In [27]:
age = input()

 11

In [28]:
age

'11'

In [29]:
type(age)

str

In [31]:
print('안녕하세요? 한희주입니다.')

안녕하세요? 한희주입니다.

In [38]:
print("안녕하세요? '한희주'입니다.") # `"`사용할 때는 `'`사용

안녕하세요? '한희주'입니다.

In [39]:
print('안녕하세요? \'한희주\'입니다.') # `'`사용할 때는 `\'`사용

안녕하세요? '한희주'입니다.

In [47]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성할 수 있습니다.
'''
# \n : enter
# \t : tab

In [48]:
a #코드 자체를 보여줌

'\n여기는 \n문자열입니다.\n여러\t줄을 작성할 수 있습니다.\n'

In [49]:
print(a)

여기는
문자열입니다.
여러	줄을 작성할 수 있습니다.

In [50]:
print('하나','둘','셋')

하나 둘 셋

#### string interpolation

1. %-fomatting
2. str.format()
3. f-string

In [51]:
age = 10

In [53]:
print('홍길동은 %s살입니다.'% age)

홍길동은 10살입니다.

In [54]:
print('홍길동은 {}살입니다.' .format(age))

홍길동은 10살입니다.

In [55]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

## 2. 연산자

### 2.1 산술연산자

In [56]:
a = 2
b = 3

In [61]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
# 모든값 출력, 결과값 print

5
-1
6
0.6666666666666666

In [59]:
a + b
a - b
# 마지막만 출력, 결과값 output

-1

In [62]:
print(a ** b) # 제곱

8

In [73]:
print(a // b) # 나눈 몫
print(a % b) # 나눈 나머지

# mod
print(divmod(a, b)) # (나눈 몫, 나눈 나머지)

0
5
(0, 5)

### 2.2 비교연산자

In [66]:
a = 5
b = 10

In [69]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [74]:
print(a == b)
print(a != b)

False
True

In [72]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 2.3 논리연산자
boolean값일 때
- `and` : 양쪽 모두 `True`일 때, `True`를 반환
- `or` : 양쪽 모두 `False`일 때, `False`를 반환
- `Not` : 반대값을 출력

In [76]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [77]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [78]:
print(True)
print(not True)

a = True
print(not a)

True
False
False

In [82]:
# 단축평가(and)
print(3 and 5) # True and True일 때 True를 출력하므로 뒤값인 5 출력
print(3 and 0) # True and False일 때 False를 출력하므로 뒤값인 0 출력
print(0 and 5) # False and True일 때 False를 출력하므로 False(0) 출력
print(0 and 0) # False and False일 때 False를 출력하므로 False(0) 출력

5
0
0
0

In [83]:
# 단축평가(or)
print(3 or 5) # True or True일 때 True를 출력하므로 앞값인 3 출력
print(3 or 0) # True or False일 때 True를 출력하므로 앞값인 3 출력
print(0 or 5) # False or True일 때 True를 출력하므로 True인 5 출력
print(0 or 0) # False or False일 때 False를 출력하므로 False(0) 출력

3
3
5
0

### 2.4 복합연산자

In [93]:
a = 2
b = 3

In [99]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [100]:
print(a)

8.0

In [102]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

8.0

### 2.4 기타연산자

#### concatenation

In [119]:
a = 'hi'
b = 'hello'
a + b

'hihello'

In [120]:
a = [1, 2, 3]
b = [9, 8, 7]
a + b

[1, 2, 3, 9, 8, 7]

In [109]:
1 + '1' # 타입을 맞춰야 한다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### containment

In [117]:
print('a' in 'apple')
print('z' in 'apple')

True
False

In [115]:
print(1 in [1, 2, 3])
print(100 in [1, 2, 3])

True
False

#### is
메모리값 위치에 대한 결과 출력

In [116]:
a = 123123
b = 123123
print(a is b)

False

In [118]:
a = 10
b = 10
print(a is b)

True

#### 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, is, in
5. not
6. and, or

In [126]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환

### 3.1 암시적 형변환

In [130]:
a = True # 숫자 1 취급가능
b = False # 숫자 0 취급가능
c = 1

In [129]:
print(a + c)
print(b + c)

2
1

In [131]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

### 3.2 명시적 형변환

In [132]:
a = 1
b = '번'

In [133]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [134]:
print(str(a) + b)

1번

In [136]:
a = '100'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [137]:
age = input()
print(type(age))

 30

<class 'str'>

In [138]:
age = int(input())
print(type(age))

 25

<class 'int'>

In [141]:
a = '3.3'
type(int(a)) # base 10 : 십진수

ValueError: invalid literal for int() with base 10: '3.3'

In [142]:
a = '3.3'
type(float(a))

float

In [147]:
a = 1
b = 0
c = 100 # 1 이상이면 True

print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [148]:
print(bool('')) # 비어있는 것은 0
print(bool('a')) # 글자가 있으면 1 이상 취급

False
True

In [150]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조 (순서대로 나열되어있다는 것은 정렬된 것과는 다르다.)

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 List(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [153]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [158]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[0])
print(location[1])
print(location[2])
print(location[-1]) # 맨 오른쪽에서 1번째
print(location[-2]) # 맨 오른쪽에서 2번째
print(location[-3]) # 맨 오른쪽에서 3번째

['서울', '대전', '부산']
<class 'list'>
서울
대전
부산
부산
대전
서울

In [159]:
print(location[3]) # 찾을 수 없는 정보
print(location[-4])

IndexError: list index out of range

In [160]:
location[2] = '제주'
print(location)

['서울', '대전', '제주']

### 4.2 Tuple

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- List와 유사하지만 수정불가능(immutable)하다.

In [162]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [164]:
t[2] = 100 # 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [166]:
result = divmod(9, 4)
print(type(result))
print(result[0])
print(result[1])

<class 'tuple'>
2
1

In [168]:
x, y = (1, 2)
print(x, y)

x, y = (y, x)
print(x, y)

1 2
2 1

### 4.3 Range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [172]:
r = range(5) # 0 이상 5 미만
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [177]:
r = range(5, 15)
print(r)

r = range(5, 15, 2)
print(r)

range(5, 15)
range(5, 15, 2)

In [178]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 String
기본 데이터 구조 참고 (1.4)

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [180]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

#### indexing

In [183]:
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

#### slicing

In [186]:
print(my_list[1:3]) # 1번째 이상 3번째 미만
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [191]:
print(my_list[1:4:2]) # 1번째 이상 4번째 미만 2칸씩
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [192]:
print(my_list[ :3])
print(my_list[3: ])

[1, 2, 3]
[4, 5]

#### in

In [194]:
print(1 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

True
True
True
True

#### not in

In [195]:
print(11 not in my_list)
print(100 not in my_tuple)
print(1 not in my_range)
print('구' not in my_string)

True
True
False
True

#### concatenation

In [196]:
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

#### *

In [205]:
print(my_string * 3)
print(my_list * 3)

print([0] * 10)
print([[0] * 10] * 10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

#### 기타

In [207]:
len(my_list)

5

In [208]:
min(my_tuple)

11

In [211]:
print(max(my_range))
print(max(my_string)) # string은 불가

9
일

In [213]:
my_list.count(1) # 1이 몇 개인지 출력

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [218]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [222]:
print(my_set_a - my_set_b) # 차집합
print(my_set_a | my_set_b) # 합집합 (or)
print(my_set_a & my_set_b) # 교집합 (and)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [224]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 9, 2, 2]
print(set(my_list)) # 중복값 제거

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 5.2 dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3)
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값 사용가능 (불변값 : string, integer...)
- value에는 모든 데이터 가능 (list, dict도 가능)

In [225]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [232]:
dict_a = {
    'name': 'heeju',
    'age': 10,
    'location': 'busan',
    'numbers': [1, 2, 3, 4, 5],
    'freinds': {
        'a': 10,
        'b': 11,
    },
}

print(dict_a['age'])
print(dict_a['numbers'])
print(dict_a['numbers'][3])
print(dict_a['freinds']['b'])

10
[1, 2, 3, 4, 5]
4
11

In [233]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'freinds'])

In [234]:
dict_a.values()

dict_values(['heeju', 10, 'busan', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

### 정리
#### 데이터 타입
1. Number
2. Boolean
3. String

#### 자료구조
- 시퀀스 자료형
    1. [List] : mutable
    2. (Tuple) : immutable
    3. range() : immutable
    4. 'String' : immutable
- 시퀀스가 아닌 자료형
    1. (Set) : mutable
    2. (Dict: ionary) : mutable