# 제어문

## 조건문(if문)

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

- `if`문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다.
    - `조건식`이 참인 경우 `:`이후의 문장을 실행한다.
    - `조건식`이 거짓인 경우 `else:`이후의 문장을 실행한다.

In [3]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/25

크리스마스입니다.

In [7]:
num = input('숫자를 입력해주세요 : ')
print(num)
print(type(num))

숫자를 입력해주세요 :  123

123
<class 'str'>

In [9]:
num = input('숫자를 입력해주세요 : ')
num = int(num) # 동일하게 num = int(input('숫자를 입력해주세요 : ')도 가능
print(type(num))

숫자를 입력해주세요 :  123

<class 'int'>

In [13]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

숫자를 입력해주세요 :  5

홀수입니다.

In [14]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  2

짝수입니다.

In [16]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2: #결과값은 자동형변환이 일어나 0(false), 1(true) 중 하나
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  10

짝수입니다.

## 조건문(elif문)

```python
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [19]:
score = int(input())

# 90점 이상 A (95점 이상이라면 good 추가)
# 80점 이상 B
# 70점 이상 C
# 나머지 F

if score >= 90:
    print('A')
    if score >= 95:
        print('good')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 97

A
good

### 조건표현식
```python
true_value if <조건식> else false_value
```

In [1]:
print('True') if 1 < 0 else print('False')

False

In [3]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [5]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

5

In [9]:
num = -5
value = num if num >=0 else 0
print(value)

0

In [10]:
num = 5
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

홀수

In [13]:
num = 5
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

홀수

## 반복문

### while문
```python
while <조건식>:
실행할 코드
```

In [14]:
a = 0

while a <5:
    print(a)
    a += 1 # a = a + 1

0
1
2
3
4

In [15]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  123
안녕이라고 해줘 :  안녕

### for문
정해진 범위 내의 반복

```python
for variable in sequence:
    실행할 코드
```

In [17]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [19]:
word = input('단어를 입력해주세요 : ')

for char in word:
    print(char)

단어를 입력해주세요 :  apple

a
p
p
l
e

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [25]:
# 1. 1~30까지 숫자 중에서 홀수를 출력
numbers = range(1,30)
for answer in numbers:
    if answer % 2 == 1:
        print(answer)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [26]:
# 2. 1~30까지 숫자 중에서 홀수를 모아서 리스트로 출력

In [33]:
numbers = range(1,30)
list = []
for answer in numbers:
    if answer % 2 == 1:
        list.append(answer) # list로 출력하는 명령
        
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [37]:
menus = ['라면', '김밥', '떡볶이', '돈까스', '튀김']

for menu in menus:
    print(menu)

라면
김밥
떡볶이
돈까스
튀김

In [38]:
for i in range(len(menus)):
    print(menus[i])

라면
김밥
떡볶이
돈까스
튀김

In [41]:
for item in enumerate(menus): # index번호와 value를 tuple로 출력
    print(item)

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돈까스')
(4, '튀김')

In [42]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이
3 돈까스
4 튀김

### dictionary 반복문

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [44]:
info = {
    'name': 'heeju',
    'location': 'busan',
    'phone': '010-1234-1234',
}

In [46]:
for key in info:
    print(key)
    print(info[key])

name
heeju
location
busan
phone
010-1234-1234

In [47]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [49]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [52]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys(): # dict의 key를 sequence로 출력
    print(key)

blood_type.keys()

혈액형 목록은 다음과 같습니다.
A
B
O
AB

dict_keys(['A', 'B', 'O', 'AB'])

In [55]:
result = 0

for value in blood_type.values():
    result = result + value # result += value

print(f'총 인원은 {result}명입니다.')

총 인원은 14명입니다.

In [59]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

### break
반복문을 종료시키는 키워드

In [62]:
for i in range(100):
    print(i)
    if i > 10:
        print('10 넘었어!!!')
        break

0
1
2
3
4
5
6
7
8
9
10
11
10 넘었어!!!

In [73]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리', '보리']

# 보리 보리 보리 보리 쌀 잡았다!

for answer in rice:
    print(answer)
    if answer == '쌀':
        print('잡았다!')
        break

보리
보리
보리
보리
쌀
잡았다!

### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [74]:
for i in range(10):
    if i % 2:
        continue

    print(i)

0
2
4
6
8

In [76]:
age = [10, 23, 8, 30, 29, 15]

for a in age:
    if a < 20:
        continue
    print(f'{a}살은 성인입니다.')

23살은 성인입니다.
30살은 성인입니다.
29살은 성인입니다.

### else
else문은 끝까지 반복이 진행된 후 실행합니다. (break를 만나지 않은 경우)

In [78]:
for i in range(10):
    print(i)
    if i > 10:
        break

else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [80]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [84]:
numbers = [1, 2, 3, 4, 5]
target = 1

# numbers를 반복하다 target이 있으면 True 출력, 없으면 False 출력
for answer in numbers:
    if answer == target:
        print('True')
        break

else:
    print('False')

True

### pass

In [85]:
if True:
    pass

In [86]:
def logout():
    pass

### match
```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드
```

In [93]:
status = 100

match status:
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case 418:
        print('teapot')
    case _:
        print('something')

something