# 📍 Sequence 자료구조
: 데이터가 나열된 자료구조

### ✅ List
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [1]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

['서울', '대전', '부산']
<class 'list'>

In [2]:
print(location[1])
print(location[-1]) # 맨 오른쪽에서 1번째

대전
부산

In [3]:
print(location[3]) # 찾을 수 없는 정보
print(location[-4])

IndexError: list index out of range

In [4]:
# 수정 가능
location[2] = '제주'
print(location)

['서울', '대전', '제주']

### ✅ Tuple

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- List와 유사하지만 수정불가능(immutable)

In [5]:
t = (1, 2, 3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [6]:
# 수정 불가능
t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [7]:
result = divmod(9, 4)
print(type(result))
print(result[0])
print(result[1])

<class 'tuple'>
2
1

### ✅ Range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [8]:
# 0 이상 5 미만
r = range(5)

print(list(r))
print(type(r))

[0, 1, 2, 3, 4]
<class 'range'>

In [9]:
# 5이상 15미만
r = range(5, 15)
print(list(r))

# 5이상 15미만 2씩 증가
r = range(5, 15, 2)
print(list(r))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[5, 7, 9, 11, 13]

### ✅ 시퀀스 연산 / 함수

In [10]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

#### ✔️ Indexing

In [11]:
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

#### ✔️ Slicing

In [12]:
# 1번째 이상 3번째 미만
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [13]:
# 1번째 이상 4번째 미만 2칸씩
print(my_list[1:4:2])
print(my_range[1:4:2])

[2, 4]
range(3, 9, 4)

In [14]:
# 처음부터 3번째 미만
print(my_list[ :3])

# 3번째 이상 끝까지
print(my_list[3: ])

[1, 2, 3]
[4, 5]

#### ✔️ In

In [15]:
print(1 in my_list)
print(11 in my_tuple)
print(2 in my_range)
print('일' in my_string)

True
True
False
True

#### ✔️ Not In

In [16]:
print(11 not in my_list)
print(100 not in my_tuple)
print(1 not in my_range)
print('구' not in my_string)

True
True
False
True

#### ✔️ Concatenation

In [17]:
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

#### ✔️ *

In [18]:
print(my_string * 3)
print(my_list * 3)

print([0] * 10)
print([[0] * 10] * 10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

#### ✔️ 기타

In [19]:
print(len(my_list))
print(min(my_tuple))
print(max(my_range))
print(max(my_string)) # string은 불가
print(my_list.count(1)) # 1이 몇 개인지 출력

5
11
9
일
1

# 📍 Sequence 가 아닌 자료구조

### ✅ Set
: 중복된 값이 없음
- 선언 : 변수이름 = {value1, value2, value3}

In [20]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [21]:
print(my_set_a - my_set_b) # 차집합
print(my_set_a | my_set_b) # 합집합 (or)
print(my_set_a & my_set_b) # 교집합 (and)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [22]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 9, 2, 2]
print(set(my_list)) # 중복값 제거

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### ✅ Dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값 사용가능 (불변값 : string, integer...)
- value에는 모든 데이터 가능 (list, dict도 가능)

In [23]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [24]:
dict_a = {
        'name': 'heeju',
        'age': 10,
        'location': 'busan',
        'numbers': [1, 2, 3, 4, 5],
        'freinds': {
            'a': 10,
            'b': 11,
            },
        }

print(dict_a['age'])
print(dict_a['numbers'])
print(dict_a['numbers'][3])
print(dict_a['freinds']['b'])

10
[1, 2, 3, 4, 5]
4
11

In [25]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'freinds'])

In [26]:
dict_a.values()

dict_values(['heeju', 10, 'busan', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])