# Error

## syntax error

In [1]:
if Tru:
    pass
else

SyntaxError: expected ':' (15728399.py, line 3)

In [2]:
print('hi'

SyntaxError: incomplete input (2401491204.py, line 1)

In [3]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

## exception

In [4]:
print(5/0)

ZeroDivisionError: division by zero

In [5]:
print(hello)

NameError: name 'hello' is not defined

In [6]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [8]:
import random

In [12]:
random.sample([1, 2, 3, 4])
# random.sample([1, 2, 3, 4], 2)

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [14]:
random.sample([1, 2, 3, 4], 2, 2, 2, 2)
# 3개의 인자를 넣어야 하는데 6개 넣었다

TypeError: Random.sample() takes 3 positional arguments but 6 were given

In [15]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [19]:
numbers = [1, 2, 3, 4]
numbers.index(100)
# numbers에 100이 없다

ValueError: 100 is not in list

In [20]:
numbers [1, 2, 3, 4]
numbers[100]
# numbers에 100번 인덱스가 없다

TypeError: list indices must be integers or slices, not tuple

In [21]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}
my_dict['melon']

KeyError: 'melon'

In [22]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [ ]:
while True:
    continue

# 코드를 중지시켜야 하는 상황(ctrl + c)

## 예외처리

```python
try:
    code
except 예외:
    code
```

In [26]:
try:
    num = int(input('숫자를 입력해주세요 :'))
    print(f'{num}의 세제곱은 {num ** 3}입니다.')
except ValueError:
    print('숫자를 입력하세요!!!!!')

숫자를 입력해주세요 : ㄱㄴㄷ

숫자를 입력하세요!!!!!

In [31]:
try:
    num = int(input('100을 나눌 값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('입력한 정보는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('수학적으로 0으로는 나눌 수 없습니다.')

100을 나눌 값을 입력해주세요 :  ㄱㄴㄷ

입력한 정보는 숫자가 아닙니다.

In [32]:
try:
    num = int(input('100을 나눌 값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('입력한 정보는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('수학적으로 0으로는 나눌 수 없습니다.')

100을 나눌 값을 입력해주세요 :  0

수학적으로 0으로는 나눌 수 없습니다.

In [34]:
try:
    num = int(input('100을 나눌 값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except:
    print('무엇인가 잘못되었습니다.')

100을 나눌 값을 입력해주세요 :  0

무엇인가 잘못되었습니다.

In [44]:
try:
    print(asdf)
    num = int(input('100을 나눌 값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except (ValueError, ZeroDivisionError):
    print('무엇인가 잘못되었습니다.')
except:
    print('wrong')

wrong

In [43]:
try:
    num = int(input('100을 나눌 값을 입력해주세요 : '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except:
    print('wrong')
except (ValueError, ZeroDivisionError):
    print('무엇인가 잘못되었습니다.')

SyntaxError: default 'except:' must be last (1800323407.py, line 4)

In [46]:
try:
    my_list = [1, 2, 3]
    print(my_list[100])
except IndexError as err:
    print('범위에 문제가 있습니다.')
    print(err)

범위에 문제가 있습니다.
list index out of range

#### else
예외를 일으키지 않을 때 실행되는 코드

In [49]:
try:
    numbers = [1, 2, 3]
    num = numbers[100]
except:
    print('오류발생')
else:
    print(num ** 3)

오류발생

#### finally
예외 상황과 무관하게 무조건 최종적으로 실행되는 코드

In [50]:
try:
    numbers = [1, 2, 3]
    num = numbers[1]
except:
    print('오류발생')
finally:
    print('end')

end

#### raise
예외를 강제로 발생시키는 상황에서 사용

In [51]:
for i in range(100):
    if i == 50:
        print(i)
        raise

50

RuntimeError: No active exception to reraise

In [52]:
# 연습
# def my_div(num1, num2):
#     pass

# print(my_div(5, 0))
# print(my_div('5', '0'))
# print(my_div(5, 2))

In [67]:
def my_div(num1, num2):
    try:
        print(f'{num1} / {num2}는 {num1 / num2}입니다.')
    except TypeError:
        print('숫자를 입력하세요!')
    except ZeroDivisionError:
        print('0은 나누어지지 않습니다.')
    # except ValueError:
    #     print('입력한 값이 숫자가 아닙니다.')
    # 코드작성을 int(num1)로 했을 때 발생
    return

print(my_div(5, 0))
print(my_div('5', '0'))
print(my_div(5, 2))

0은 나누어지지 않습니다.
None
숫자를 입력하세요!
None
5 / 2는 2.5입니다.
None